<div class="contents row">
  <div class="container">
    <h3>登録する</h3>
    <%= form_with(model: @part, local: true) do |f| %>
      <%= f.text_field :name, placeholder: "名称" %>
      <%= f.text_field :number, placeholder: "規格" %>
      <%= f.text_field :category, placeholder: "カテゴリー" %>
      <%= f.text_field :material, placeholder: "材料" %>
      <%= f.text_field :price, placeholder: "価格" %>
      <%= f.text_field :supplier, placeholder:  "サプライヤー" %>
      <%= f.submit "登録" %>
    <% end %>
  </div>
</div>