<div class="contents row">
  <div class="container">
    <h3>登録する</h3>
    <%= form_with(model: @part, local: true) do |f| %>
      <%= f.text_filed :name, placeholder: "Name" %>
      <%= f.text_filed :number, placeholder: "Number" %>
      <%= f.text_filed :category, placeholder: "Category" %>
      <%= f.text_filed :material, placehodlder: "Material" %>
      <%= f.text_filed :price, placehholder: "Price" %>
      <%= f.text_filed :supplier, placeholder:  "Supplier" %>
      <%= f.submit "REGISTER" %>
    <% end %>
  </div>
</div>