<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @part.image %>);">
    <% if user_signed_in? && current_user.id == @part.user_id %>
      <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_part_path(@part.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', part_path(@part.id), method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>  
    <span class="name"><%= @part.name %>
    </span>
    <%= image_tag @part.image.variant(resize: '500x500'), class: 'part-image' if @part.image.attached? %>
  </div>
</div>