<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @part.image %>);">
    <span class="name"><%= @part.name %></span>
    <%= image_tag @part.image.variant(resize: '500x500'), class: 'part-image' if @part.image.attached? %>
    <% if user_signed_in? && current_user.id == @part.user_id %>
      <div class="more">
          <%= link_to '編集', edit_part_path(@part.id), method: :get %>
          <%= link_to '削除', part_path(@part.id), method: :delete %>
      </div>
      <% if user_signed_in? && @part.part_stock.nil? %>
        <%= link_to "#{@part.name}の在庫登録をする", new_part_part_stock_path(@part.id) %><br/>
      <% else %>
        <%= link_to "#{@part.name}の在庫情報の編集をする", edit_part_part_stock_path(@part.id) %><br/>
        <%= link_to "#{@part.name}を発注する", part_part_stocks_path(@part.id) %>
      <% end %>
    <% end %>  
  </div>
</div>