<div class="contents row">
  <div class="content_post">
    <% if user_signed_in? && current_user.id == @product.user_id %>
      <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_product_path(@product.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', product_path(@product.id), method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    <span class="name"><%= @product.name %></span>
  </div>
  <%= form_with(model: @count_form, url: products_path, local: true) do |f| %>
    <select name="product[part_ids][]">
      <option value="">使用する部品を選択してください</option>
      <% Part.all.each do |part| %>
        <option>部品名称:<%=part.name %>,規格:<%= part.number %></option>
      <% end %>  
    </select>
    <%=f.text_field :count, placeholder: "数量"%>
    <%=f.submit "数量登録" %>
  <% end %>
</div>




  